<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../partials/head', {pageName: 'Sobre'}); %>

  <body class="container bg-dark" style="color: #fff">
    <%- include('../partials/header'); %>

    <main class="container mt-5">
      <div class="jumbotron">
        <h1>Sobre o EJS</h1>
        <p>
          EJS é uma forma muito interessante de desenvolver aplicativos web.
        </p>
      </div>
    </main>

    <%- include('../partials/footer'); %>
  </body>
</html>
